<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column bg-light">
        <div class="text-center p-3">
          <img src="../../assets/img/person.jpg" class="rounded-circle" alt="person" height="120px" width="120px">
          <h4>Danish Hayat</h4>
          <p>Jr.Software Developer</p>
          <i title="Signout" class="fas fa-2x fa-sign-out-alt text-right"></i>
        </div>
        <!-- <li class="nav-item p-3 pl-5">
          <a [routerLink]="['/']"><h5>Attendence</h5></a>
        </li> -->
        <li class="nav-item p-3 selected">
          <a [routerLink]="['/']"><h5>TimeSheet</h5></a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
